---
export interface Props {
  title: string;
  desc: string;
  href: string;
  link_label: string;
}

const {title, desc, href, link_label} = Astro.props
---

<div class="card">
    <div class="card-header">
        <h1>{title}</h1>
    </div>
    <hr>
    <div class="body">
        <p>{desc}</p>
        <a href={href}>{link_label}</a>
    </div>
</div>

<style>
    .card {
        background-image: linear-gradient(to right bottom, #161720, #171b24, #181d28, #1a1e2c, #1b2830);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 10px;
        height: 170px;
        display: flex;
        flex-direction: column;
        transition: all 0.1s ease;
    }

    .card:hover {
        background-image: linear-gradient(to right bottom, #1d1e29, #171b24, #181d28, #1a1b2c, #1b2c30);
        border: 3px solid var(--border-color);
        border-radius: 5px;
    }


    h1 {
        font-size: 1.55rem;
        color: var(--text-primary);
    }

    hr {
        border: none;
        height: 1px;
        background: var(--border-color);
        margin: 0.55em 0;    
    }

    .body {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    a {
        margin-top: auto;
        margin-bottom: 5px;
        text-shadow: -2px 0px 5px rgba(0,0,0,0.39);
        transition: 0.3s;
    }

    a:hover {
        color: rgb(143, 166, 201);
    }

</style>