---
import Layout from "../layouts/Layout.astro";

import CitizenCard from "../components/CitizenCard.astro";

const ciudadanos = {
  "Z1001": { id: "Z1001", name: "Laura", surname: "Gonz치lez", mugshot: "https://randomuser.me/api/portraits/women/44.jpg" },
  "Z1002": { id: "Z1002", name: "Carlos", surname: "Mu침oz", mugshot: "https://randomuser.me/api/portraits/men/46.jpg" },
  "Z1003": { id: "W3N0P4L칌4T0", name: "Chupa", surname: "Pico", mugshot: "https://media.licdn.com/dms/image/v2/D4E03AQG40P3EGK4BTQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1732139178520?e=1758153600&v=beta&t=6r701DZ_owZGvdOqzY-S3TQIGi6xdcAaQjXF8zJdGNM" },
  "Z1004": { id: "Z1004", name: "Tom치s", surname: "P칠rez", mugshot: "" },
  "Z1005": { id: "Z1005", name: "Antonia", surname: "Silva", mugshot: "https://randomuser.me/api/portraits/women/65.jpg" },
  "Z1006": { id: "Z1006", name: "Mart칤n", surname: "Vega", mugshot: "" },
  "Z1007": { id: "Z1007", name: "Camila", surname: "Navarro", mugshot: "" },
  "Z1008": { id: "Z1008", name: "Joaqu칤n", surname: "Mora", mugshot: "https://randomuser.me/api/portraits/men/29.jpg" },
  "Z1009": { id: "Z1009", name: "Valentina", surname: "Carrasco", mugshot: "" },
  "Z1010": { id: "Z1010", name: "Diego", surname: "Paredes", mugshot: "https://randomuser.me/api/portraits/men/77.jpg" },
  "Z1011": { id: "Z1011", name: "Isidora", surname: "Tapia", mugshot: "" },
  "Z1012": { id: "Z1012", name: "Benjam칤n", surname: "Ram칤rez", mugshot: "" },
  "Z1013": { id: "Z1013", name: "Fernanda", surname: "Araya", mugshot: "https://randomuser.me/api/portraits/women/38.jpg" },
  "Z1014": { id: "Z1014", name: "Mat칤as", surname: "Ortiz", mugshot: "" },
  "Z1015": { id: "Z1015", name: "Catalina", surname: "Fuentes", mugshot: "https://randomuser.me/api/portraits/women/51.jpg" },
  "Z1016": { id: "Z1016", name: "Ignacio", surname: "Salazar", mugshot: "" },
  "Z1017": { id: "Z1017", name: "Daniela", surname: "C치ceres", mugshot: "" },
  "Z1018": { id: "Z1018", name: "Vicente", surname: "Reyes", mugshot: "" },
  "Z1019": { id: "Z1019", name: "Trinidad", surname: "Espinoza", mugshot: "" },
  "Z1020": { id: "Z1020", name: "Sebasti치n", surname: "Morales", mugshot: "https://randomuser.me/api/portraits/men/22.jpg" }
};
---

<Layout title="Home">
    <div class="body-header">
        <div class="body-header-items">
            <div class="body-header-items-top">
                <span class="material-symbols-rounded">group_search</span>
                <h1>Lista de ciudadanos</h1>
            </div>
            <p>Lista de todos los ciudadanos registrados</p>
        </div>
        <div class="header-search">
            <input type="text" placeholder="游댌 Buscar ciudadano" class="search-input"> 
        </div>
    </div>
    <div class="body-content">
        {Object.values(ciudadanos).map((ciudadano) => (
            <CitizenCard 
                id={ciudadano.id}
                name={ciudadano.name}
                surname={ciudadano.surname}
                mugshot={ciudadano.mugshot}
            />
        ))}

    </div>
</Layout>

<style>
    .body-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 1.25rem;
    }

    .body-header-items-top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .body-header-items p {
        display: flex;
        font-size: 1rem;
        color: var(--text-tertiary);
    }

    .header-search {
        padding-right: 0.8rem;
    }
    
    .search-input {
        background-color: transparent;
        border: 2px solid var(--border-color);
        border-radius: 5px;
        padding: 10px;
        font-size: 1rem;
        font-family: 'Funnel Display', sans-serif;
        color: white;
        width: 20rem;
    }

    .body-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        height: 100%;
    }


    h1 {
        font-size: 1.25rem;
        color: var(--text-primary);
        font-family: 'Funnel Display', sans-serif;
        font-weight: 400;
    }
    
    span {
        font-size: 1.4rem;
        margin-right: 0.5rem;
    }



    /* Scrollbar para navegar por los weones */
    .body-content::-webkit-scrollbar {
        width: 8px;
    }

    .body-content::-webkit-scrollbar-track {
        background: transparent;
    }

    .body-content::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.073);
        border-radius: 999px;
        transition: background-color 0.3s;
    }

    .body-content::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.275);
    }
</style>