---
import Layout from "../layouts/Layout.astro";
import StatsCard from "../components/StatsCard.astro";
import { sourceOfficerData } from "../data/officer"
---

<Layout title="Home">
    <div class="body-header">
        <div class="body-header-items">
            <div class="body-header-items-top">
                <span class="police-icon material-symbols-rounded">local_police</span>
                <h1>
                    {sourceOfficerData.gender == 'm' ? 'Sr.' : "Sra."} 
                    <span class="header-h1-name">
                        {sourceOfficerData.name} 
                        {sourceOfficerData.surname}
                    </span>
                </h1>
            </div>

            <p>Sistema centralizado de la policia nacional</p>
        </div>
    </div>
    <div class="body-content">
        <StatsCard title="Total multas", 
        desc="Total de multas impuestas y cobradas por el oficial"
        icon="payments" specValue="10" monto="50000$"/>
        <StatsCard title="Total horas de servicio", 
        desc="Total de horas ejercidas en servicio por el oficial"
        icon="av_timer" specValue={String(sourceOfficerData.serviceHours)}/>
        <StatsCard title="Rango", 
        desc="Rango actual del oficial"
        icon="social_leaderboard" specValue={sourceOfficerData.rank}/>
    </div>
</Layout>

<style>
    .body-header {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin: 1.25rem;
    }

    .body-header-items-top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .body-header-items p {
        font-size: 1rem;
        color: var(--text-tertiary);
    }

    .body-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    h1 {
        font-size: 1.25rem;
        color: var(--text-primary);
        font-family: 'Funnel Display', sans-serif;
        font-weight: 400;
    }

    .header-h1-name {
        font-weight: 800;
        text-transform: uppercase;
    }

    span {
        font-size: 1.4rem;
        margin-right: 0.5rem;
    }

    .police-icon {
        font-size: 1.75rem;
        color: var(--accent-blue);
        margin-right: 0.5rem;
    }
</style>