---

---

<div class="card">
    <div class="card-header">
        <h1>Nombre multa</h1>
        <p>Descripcion</p>
    </div>
    <div class="card-desc">
        <p>Multa</p>
        <p>Condena</p>
    </div>

</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        background: var(--bg-secondary);
        border-radius: 5px;
        padding: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(to right bottom, #161920, #171b24, #181d28, #1a1f2c, #1b2130);
        border: 1px solid #333;
        max-width: 100%;
        transition: all 0.3s ease;
        margin-top: 10px;
    }

    .card:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .card-header p {
        font-size: 1rem;
        color: #ffffff;
        margin: 0;
    }

    .card-desc {
        margin-top: 8px;
        padding-top: 8px;
        border-top: 1px solid #333;
    }

    .card-desc p {
        margin: 4px 0;
        color: #cccccc;
    }
</style>